<div class="drawer drawer--slide-in-right js-drawer">
  <div class="drawer__inner">
    <div class="drawer__header">
      <button class="link link--primary link--icon-left font-primary-medium drawer__back-button js-drawer-back-button">
        <span>Back</span>
        <svg  class="svg">
  <use xlink:href="#icon-angle"></use>
</svg>

      </button>

      <button class="button-icon drawer__close-button js-drawer-close-button">
        <span class="sr-only">Close menu</span>
        <svg  class="svg">
  <use xlink:href="#icon-close"></use>
</svg>

      </button>
    </div>
    <div class="drawer__main-content js-drawer-main-content"></div>
    <div class="drawer__footer js-drawer-footer"></div>
  </div>
</div>