<footer role="contentinfo" class="footer bg-primary-1 d-print-none section-dark">

          <div class="footer__top pt-md-4 pb-md-4 border-bottom border-base-2 z-1 position-relative">
        <div class="container">
              <div class="row pt-50">
    <div id="block-investis-project-idxlogo" class="col-12 col-xl-2">
  
<div class="block-main__wrapper">

    
      
    <img loading="lazy" src="sites/sldc/files/sldc/logo-light.png" width="151" height="48" alt="Footer Logo" typeof="foaf:Image" />



    </div>
</div>
<div id="block-investis-project-fmenulinks1" class="col-12 col-md-6 col-xl-3 quick-links offset-xl-1">
  
<div class="block-main__wrapper">

    <h6 class="color-display">Quick links</h6>

        
      <div class="region-we-mega-menu">
	<a class="navbar-toggle collapsed">
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	</a>
	<nav  class="quick-links-1 navbar navbar-default navbar-we-mega-menu mobile-collapse hover-action" data-menu-name="quick-links-1" data-block-theme="investis_project" data-style="Default" data-animation="None" data-delay="" data-duration="" data-autoarrow="" data-alwayshowsubmenu="" data-action="hover" data-mobile-collapse="0">
	  <div class="container-fluid">
	    <ul  class="we-mega-menu-ul nav nav-tabs">
  


<li  class="we-mega-menu-li active active-trail" data-level="0" data-element-type="we-mega-menu-li" description="" data-id="8bee9d10-ad94-4fb1-ab4a-b701213c51b4" data-submenu="0" data-hide-sub-when-collapse="" data-group="0" data-class="" data-icon="" data-caption="" data-alignsub="" data-target="">
      <a class="we-mega-menu-li" href="index.html"
             
    >
            Home
                </a>
    
</li>




<li  class="we-mega-menu-li" data-level="0" data-element-type="we-mega-menu-li" description="" data-id="481b63b7-227e-4833-a85d-6863f98bf509" data-submenu="0" data-hide-sub-when-collapse="" data-group="0" data-class="" data-icon="" data-caption="" data-alignsub="" data-target="">
      <a class="we-mega-menu-li" href="about-sldc/index.html"
             
    >
            About SLDC
                </a>
    
</li>




<li  class="we-mega-menu-li" data-level="0" data-element-type="we-mega-menu-li" description="" data-id="a158c4bc-bedb-4a07-a983-a51374113ac4" data-submenu="0" data-hide-sub-when-collapse="" data-group="0" data-class="" data-icon="" data-caption="" data-alignsub="" data-target="">
      <a class="we-mega-menu-li" href="leadership/index.html"
             
    >
            Management
                </a>
    
</li>




<li  class="we-mega-menu-li" data-level="0" data-element-type="we-mega-menu-li" description="" data-id="46e3a536-cb9b-4ee4-885f-ff63eade7b4e" data-submenu="0" data-hide-sub-when-collapse="" data-group="0" data-class="" data-icon="" data-caption="" data-alignsub="" data-target="">
      <a class="we-mega-menu-li" href="services/index.html"
             
    >
            Services
                </a>
    
</li>




<li  class="we-mega-menu-li" data-level="0" data-element-type="we-mega-menu-li" description="" data-id="bd30a87c-1190-4fb7-8534-03201019e48b" data-submenu="0" data-hide-sub-when-collapse="" data-group="0" data-class="" data-icon="" data-caption="" data-alignsub="" data-target="">
      <a class="we-mega-menu-li" href="operations/index.html"
             
    >
            Operations
                </a>
    
</li>




<li  class="we-mega-menu-li" data-level="0" data-element-type="we-mega-menu-li" description="" data-id="7d57c604-7bc8-4e06-b709-8d35fc66f217" data-submenu="0" data-hide-sub-when-collapse="" data-group="0" data-class="" data-icon="" data-caption="" data-alignsub="" data-target="">
      <a class="we-mega-menu-li" href="hse-quality/index.html"
             
    >
            HSE &amp; Quality
                </a>
    
</li>




<li  class="we-mega-menu-li" data-level="0" data-element-type="we-mega-menu-li" description="" data-id="ab707499-f354-4aad-b357-ff16895de75c" data-submenu="0" data-hide-sub-when-collapse="" data-group="0" data-class="" data-icon="" data-caption="" data-alignsub="" data-target="">
      <a class="we-mega-menu-li" href="people-careers/index.html"
             
    >
            People &amp; Careers
                </a>
    
</li>




<li  class="we-mega-menu-li" data-level="0" data-element-type="we-mega-menu-li" description="" data-id="451b0a9e-341c-467f-96f8-c97d522e34b0" data-submenu="0" data-hide-sub-when-collapse="" data-group="0" data-class="" data-icon="" data-caption="" data-alignsub="" data-target="">
      <a class="we-mega-menu-li" href="news-updates/index.html"
             
    >
            News &amp; Updates
                </a>
    
</li>




<li  class="we-mega-menu-li" data-level="0" data-element-type="we-mega-menu-li" description="" data-id="bfc475e5-8107-4ae5-a63c-f629d4455368" data-submenu="0" data-hide-sub-when-collapse="" data-group="0" data-class="" data-icon="" data-caption="" data-alignsub="" data-target="">
      <a class="we-mega-menu-li" href="contact/index.html"
             
    >
            Contact
                </a>
    
</li>




<li  class="we-mega-menu-li" data-level="0" data-element-type="we-mega-menu-li" description="" data-id="4ca054bd-321f-4a27-bbd7-e009d33c5a79" data-submenu="0" data-hide-sub-when-collapse="" data-group="0" data-class="" data-icon="" data-caption="" data-alignsub="" data-target="">
      <a class="we-mega-menu-li" href="/governance-and-compliance"
             
    >
            Governance &amp; Compliance
                </a>
    
</li>


</ul>
	  </div>
	</nav>
</div>
    </div>
</div>
<div id="block-investis-project-signupfornewsalerts" class="col-12 col-xl-4 col-md-6 offset-xl-2">
  
<div class="block-main__wrapper">

    <h6 class="color-display">SLDC - Sea and Land Drilling Contractor, Inc</h6>

        
      
  <p class="color-display">A joint venture between ADNOC Drilling and SLB.</p>


    </div>
</div>

  </div>

        </div>
      </div>
    
          <div class="footer__bottom pt-sm-2 pb-sm-2 z-1 position-relative">
        <div class="container">
              <div class="row pt-50 contextual-dropdown-up">
    <div id="block-investis-project-footerbottommenu" class="footer-links col-xs-12 col-lg-9">
  
<div class="block-main__wrapper">

    
      <div class="region-we-mega-menu">
	<a class="navbar-toggle collapsed">
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	</a>
	<nav  class="footer-bottom-menu navbar navbar-default navbar-we-mega-menu mobile-collapse hover-action" data-menu-name="footer-bottom-menu" data-block-theme="investis_project" data-style="Default" data-animation="None" data-delay="" data-duration="" data-autoarrow="" data-alwayshowsubmenu="" data-action="hover" data-mobile-collapse="0">
	  <div class="container-fluid">
	    <ul  class="we-mega-menu-ul nav nav-tabs">
  


<li  class="we-mega-menu-li" data-level="0" data-element-type="we-mega-menu-li" description="" data-id="62a46964-f905-4cc8-8fcf-03fd793abed2" data-submenu="0" data-hide-sub-when-collapse="" data-group="0" data-class="" data-icon="" data-caption="" data-alignsub="" data-target="">
      <a class="we-mega-menu-li" href="privacy-policy/index.html"
             
    >
            Privacy Policy
                </a>
    
</li>




<li  class="we-mega-menu-li" data-level="0" data-element-type="we-mega-menu-li" description="" data-id="6ca642ee-a302-4ca6-8571-2908528ae0a7" data-submenu="0" data-hide-sub-when-collapse="" data-group="0" data-class="" data-icon="" data-caption="" data-alignsub="" data-target="">
      <a class="we-mega-menu-li" href="sitemap/index.html"
             
    >
            Sitemap
                </a>
    
</li>




<li  class="we-mega-menu-li" data-level="0" data-element-type="we-mega-menu-li" description="" data-id="e4fa5799-c33d-409b-8ca7-a11c034e737a" data-submenu="0" data-hide-sub-when-collapse="" data-group="0" data-class="" data-icon="" data-caption="" data-alignsub="" data-target="">
      <a class="we-mega-menu-li" href="cookie-policy/index.html"
             
    >
            Cookie Policy
                </a>
    
</li>




<li  class="we-mega-menu-li" data-level="0" data-element-type="we-mega-menu-li" description="" data-id="ed6059c0-66e1-4bd2-9a3b-bdf3654ee714" data-submenu="0" data-hide-sub-when-collapse="" data-group="0" data-class="" data-icon="" data-caption="" data-alignsub="" data-target="">
      <a class="we-mega-menu-li" href="terms-use/index.html"
             
    >
            Terms of Use
                </a>
    
</li>




<li  class="we-mega-menu-li active active-trail" data-level="0" data-element-type="we-mega-menu-li" description="cookieSettingLink" data-id="9b47efe4-5cfb-459b-8aae-a3a7a5d034bd" data-submenu="0" data-hide-sub-when-collapse="" data-group="0" data-class="" data-icon="" data-caption="" data-alignsub="" data-target="">
      <a class="we-mega-menu-li" href="index.html"
              title="cookieSettingLink"
             
    >
            Cookie Settings
                </a>
    
</li>




<li  class="we-mega-menu-li" data-level="0" data-element-type="we-mega-menu-li" description="" data-id="ddfb1c94-a9a2-4736-b17e-a329e17987e3" data-submenu="0" data-hide-sub-when-collapse="" data-group="0" data-class="" data-icon="" data-caption="" data-alignsub="" data-target="">
      <a class="we-mega-menu-li" href="speakup-hotline/index.html"
             
    >
            SpeakUp Hotline
                </a>
    
</li>


</ul>
	  </div>
	</nav>
</div>
    </div>
</div>
<div id="block-investis-project-copyright" class="copyright-text col-12 col-lg-3">
  
<div class="block-main__wrapper">

    
      
  <p>© SLDC <span id="copyright-year">2025</span>. All rights reserved</p>
<script data-cfasync="false" src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>
    document.getElementById("copyright-year").textContent = new Date().getFullYear();
</script>

    </div>
</div>

  </div>

        </div>
      </div>
    
    
    <a href="#page" id="auto-top-link" title="Back to top"><span class="icon icon-arrow-up"></span><span class="sr-only">Back to top</span></a>
  </footer>