<header  class="header js-header header--sticky js-header-sticky">
    
  <div class="container">
    <div class="row">
                <div id="block-idheaderlogo" class="col-xs col-lg-2 d-xs-flex xs-middle">
  
<div class="block-main__wrapper">

    
      <div><img class="image header__logo" src="sites/sldc/files/sldc/logo.png" alt="Header logo" typeof="foaf:Image" />
</div>

    </div>
</div>


            <div class="col-xs d-xs-flex xs-end header__content js-header-content d-print-none">

        <div class="mobile--search d-block d-lg-none">
          <button class="link link--primary header-link-items__link d-lg-flex js-header-bottom-bar-open-button header-search-button" data-bar-button="search" aria-expanded="false">
            <span class="sr-only">Search</span>
            <svg  class="svg">
  <use xlink:href="#icon-search"></use>
</svg>

                      </button>
        </div>

        <button class="button-icon header__menu-button js-drawer-open-button">
          <span class="sr-only">Open menu</span>
          <svg  class="svg">
  <use xlink:href="#icon-burger-menu"></use>
</svg>

        </button>
                    <div id="block-investis-project-mainnavigation" class="navigation lg-end js-navigation">
  
<div class="block-main__wrapper">

    
      <div class="region-we-mega-menu">
	<a class="navbar-toggle collapsed">
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	</a>
	<nav  class="main navbar navbar-default navbar-we-mega-menu mobile-collapse hover-action" data-menu-name="main" data-block-theme="investis_project" data-style="Default" data-animation="None" data-delay="" data-duration="" data-autoarrow="" data-alwayshowsubmenu="" data-action="hover" data-mobile-collapse="0">
	  <div class="container-fluid">
	    <ul  class="we-mega-menu-ul nav nav-tabs">
  


<li  class="we-mega-menu-li" data-level="0" data-element-type="we-mega-menu-li" description="" data-id="3e314bad-d592-415f-8703-dbd1f21f6ab3" data-submenu="0" data-hide-sub-when-collapse="" data-group="0" data-class="" data-icon="" data-caption="" data-alignsub="" data-target="">
      <a class="we-mega-menu-li" href="about-sldc/index.html"
             
    >
            About SLDC
                </a>
    
</li>




<li  class="we-mega-menu-li" data-level="0" data-element-type="we-mega-menu-li" description="" data-id="c5bb78ad-572a-4c72-9e02-574104d1a853" data-submenu="0" data-hide-sub-when-collapse="" data-group="0" data-class="" data-icon="" data-caption="" data-alignsub="" data-target="">
      <a class="we-mega-menu-li" href="leadership/index.html"
             
    >
            Leadership
                </a>
    
</li>




<li  class="we-mega-menu-li" data-level="0" data-element-type="we-mega-menu-li" description="" data-id="b00f338a-fecf-4311-8819-57795d70e4a4" data-submenu="0" data-hide-sub-when-collapse="" data-group="0" data-class="" data-icon="" data-caption="" data-alignsub="" data-target="">
      <a class="we-mega-menu-li" href="services/index.html"
             
    >
            Services
                </a>
    
</li>




<li  class="we-mega-menu-li" data-level="0" data-element-type="we-mega-menu-li" description="" data-id="c75c3e3f-8665-42b0-8725-35a0d3d72bd9" data-submenu="0" data-hide-sub-when-collapse="" data-group="0" data-class="" data-icon="" data-caption="" data-alignsub="" data-target="">
      <a class="we-mega-menu-li" href="operations/index.html"
             
    >
            Operations
                </a>
    
</li>




<li  class="we-mega-menu-li" data-level="0" data-element-type="we-mega-menu-li" description="" data-id="23465a24-c97a-473a-b2ac-025d8089281b" data-submenu="0" data-hide-sub-when-collapse="" data-group="0" data-class="" data-icon="" data-caption="" data-alignsub="" data-target="">
      <a class="we-mega-menu-li" href="hse-quality/index.html"
             
    >
            HSE &amp; Quality
                </a>
    
</li>




<li  class="we-mega-menu-li" data-level="0" data-element-type="we-mega-menu-li" description="" data-id="ecf53f68-8365-413e-8eef-2ac44beb03b0" data-submenu="0" data-hide-sub-when-collapse="" data-group="0" data-class="" data-icon="" data-caption="" data-alignsub="" data-target="">
      <a class="we-mega-menu-li" href="people-careers/index.html"
             
    >
            People &amp; Careers
                </a>
    
</li>




<li  class="we-mega-menu-li" data-level="0" data-element-type="we-mega-menu-li" description="" data-id="1cba43b4-45a1-40b3-ba8d-982f0fe09491" data-submenu="0" data-hide-sub-when-collapse="" data-group="0" data-class="" data-icon="" data-caption="" data-alignsub="" data-target="">
      <a class="we-mega-menu-li" href="news-updates/index.html"
             
    >
            News &amp; Updates
                </a>
    
</li>




<li  class="we-mega-menu-li" data-level="0" data-element-type="we-mega-menu-li" description="" data-id="db76ce17-568b-4944-85c6-2f3d9d8ded38" data-submenu="0" data-hide-sub-when-collapse="" data-group="0" data-class="" data-icon="" data-caption="" data-alignsub="" data-target="">
      <a class="we-mega-menu-li" href="contact/index.html"
             
    >
            Contact
                </a>
    
</li>


</ul>
	  </div>
	</nav>
</div>
    </div>
</div>
<div class="js-header-link-items header-link-items" id="block-idheadersubmenu">
  
<div class="block-main__wrapper">

    
      <ul class="header-link-items__list"><li class="header-link-items__list-item"><noscript>
  <a href="search-result/index.html" class="link link--primary header-link-items__link d-xs-none d-lg-flex">
    <span class="sr-only">Search</span>
    <span class="d-xs-block d-lg-none">Search</span>
    <svg  class="svg">
  <use xlink:href="#icon-search"></use>
</svg>

  </a>
</noscript>
<button class="link link--primary header-link-items__link d-xs-none d-lg-flex js-header-bottom-bar-open-button header-search-button" data-bar-button="search">
  <span class="sr-only">Search</span>
  <svg  class="svg">
  <use xlink:href="#icon-search"></use>
</svg>

</button>
<form action="/search-result" class="search-form search-form--mobile">
  <div class="input input--search-mobile width-full">
    <label class="sr-only" for="mobile-search-field">
      Search on a site
    </label>
    <input
      aria-required="true"
      id="mobile-search-field"
      type="search"
      class="input__field"
      aria-label="Search on a site"
      placeholder="Looking for..."
      name="q"
      maxlength="256"
      autocomplete="off"
    >
    <div role="alert" aria-atomic="true">
      <div class="error-message shadow-2 js-error-message">
        Please fill out this field
      </div>
    </div>
  </div>
  <button type="submit" class="link link--primary" aria-label="Search">
    <svg  class="svg">
  <use xlink:href="#icon-search"></use>
</svg>

  </button>
</form>
</li><li class="header-link-items__list-item header-link-items__list-item--share"><div class="share js-share">
  <button class="link link--primary font-primary-medium header-link-items__link js-header-bottom-bar-open-button" data-bar-button="share">
    <span class="d-xs-block d-lg-none">Share</span>
    <span class="sr-only">Share</span>
    <svg  class="svg">
  <use xlink:href="#icon-share"></use>
</svg>

    <svg  class="svg">
  <use xlink:href="#icon-angle"></use>
</svg>

  </button>
  <div class="socials socials--mobile">
                  <a href="https://www.facebook.com/sharer.php?u=https%3A//sldc.sid2-e1.investis.com/&amp;title=Home" target="_blank" title="Share via facebook" aria-label="facebook" data-url="http://www.facebook.com/sharer.php?u=URL_PLACEHOLDER&amp;title=Home" class="facebook link-icon socials__item mr-20">
          <span class="sr-only">Facebook</span>
          <svg  class="svg">
  <use xlink:href="#icon-facebook"></use>
</svg>

        </a>
              <a href="http://www.linkedin.com/shareArticle?url=https%3A//sldc.sid2-e1.investis.com/&amp;source=https%3A//sldc.sid2-e1.investis.com/&amp;mini=true&amp;title=Home"  target="_blank" title="Share via linkedin" aria-label="linkedin" data-url="http://www.linkedin.com/shareArticle?url=URL_PLACEHOLDER&amp;source=URL_PLACEHOLDER&amp;mini=true&amp;title=Home" class="linkedin link-icon socials__item mr-20">
          <span class="sr-only">Linkedin</span>
          <svg  class="svg">
  <use xlink:href="#icon-linkedin"></use>
</svg>

        </a>
              <a href="http://x.com/share?url=https%3A//sldc.sid2-e1.investis.com/&amp;text=Home"  target="_blank" title="Share via x" aria-label="twitter" data-url="http://x.com/share?url=URL_PLACEHOLDER&amp;text=Home" class="twitter link-icon socials__item mr-20">
          <span class="sr-only">Twitter</span>
          <svg  class="svg">
  <use xlink:href="#icon-twitter"></use>
</svg>

        </a>
              <a href="cdn-cgi/l/email-protection/index.html#c5fab6b0a7afa0a6b1f8adb1b1b5b6e0f684eaeab6a9a1a6ebb6aca1f7e8a0f4ebacabb3a0b6b1acb6eba6aaa8eae3a4a8b5fea7aaa1bcf88daaa8a0" target="_blank" title="Share via email" aria-label="email" data-url="mailto:?subject=URL_PLACEHOLDER&amp;body=Home" class="email link-icon socials__item mr-20">
          <span class="sr-only">Email</span>
          <svg  class="svg">
  <use xlink:href="#icon-email"></use>
</svg>

        </a>
            </div>
</div>

</li></ul>
    </div>
</div>


              </div>
    </div>
  </div>
   
</header>