#layout-builder .id-banner-section-wrapper {
  padding-top: 40px;
}

.layout-builder-form {
  margin-top: 20px;
}

#layout-builder .layout-builder__add-section[data-layout-builder-highlight-id="section-0"] .layout-builder__link--add {
  display: none;
}
